OPENAI_GPT4.1_CONFIG={"model_family":"openai","name":"gpt-4.1", "api_key":"<api_key_here>", "api_version":"<api_version_here>", "endpoint":"<endpoint_here>", "temperature": 0}
OPENAI_GPT4.1_MINI_CONFIG={"model_family":"openai", "name":"gpt-4.1-mini", "api_key":"<api_key_here>", "api_version":"<api_version_here>>", "endpoint":"<endpoint_here>", "temperature": 0}
OPENAI_O3_MINI_CONFIG={"model_family":"openai", "name": "o3-mini", "api_key": "<api_key_here>", "endpoint": "<endpoint_here>", "api_version": "<api_version_here>", "temperature": 0}
OPENAI_GPT4O_MINI_CONFIG={"model_family":"openai", "name": "gpt-4o-mini", "api_key": "<api_key_here>", "endpoint": "<endpoint_here>", "api_version": "<api_version_here>", "temperature": 0}
GEMINI_2.5_FLASH_CONFIG={"model_family":"gemini", "name": "gemini-2.5-flash-lite-preview-06-17", "project": "<project name here>", "location":"global", "parameters": {"temperature": 0}, "thinking_model": true, "thinking_config": {"thinking_budget": -1, "include_thoughts":true}}
CLAUDE_SONNET_4_CONFIG={"model_family":"anthropic", "name": "claude-sonnet-4", "parameters": {"temperature": 0}, "endpoint": "<endpoint_here>"}
AWS_SECRET_ACCESS_KEY=<AWS secret access key here>
AWS_ACCESS_KEY_ID=<AWS access key id here>
BATCH_SIZE=1000
OPENAI_GPT4O_CONFIG={"model_family": "openai", "name": "gpt-4o", "temperature": 0, "endpoints": [{"endpoint": "<endpoint1_here>", "api_key": "<api_key1_here>", "api_version": "<api_version_here>"}, ...]}
# RERUN_METRICS=True
# RERUN_ERROR_RECORDS=True
LLAMA_3.3_70B_CONFIG={"model_family": "llama","name": "llama_3_3_70b","parameters": {"temperature": 0},"endpoints": [{"api_version": "<api_version_here>","endpoint": "<endpoint1_here>","api_key": "<api_key1_here>"},{"api_version": "<api_version_here>","endpoint": "<endpoint2_here>","api_key": "<api_key2_here>"}...]}